@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 213 53% 24%;
    --primary-foreground: 0 0% 100%;
    --secondary: 213 61% 57%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 42 52% 54%;
    --accent-foreground: 0 0% 11%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 213 53% 24%;
    --radius: 0.625rem;
    --sidebar-background: 0 0% 97%;
    --sidebar-foreground: 0 0% 9%;
    --sidebar-primary: 240 6% 5%;
    --sidebar-primary-foreground: 0 0% 97%;
    --sidebar-accent: 0 0% 96%;
    --sidebar-accent-foreground: 0 0% 13%;
    --sidebar-border: 0 0% 91%;
    --sidebar-ring: 0 0% 44%;
  }

  .dark {
    --background: 222 84% 5%;
    --foreground: 210 40% 98%;
    --card: 222 84% 5%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 30 80% 55%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 18%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 33% 18%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 18%;
    --input: 217 33% 18%;
    --ring: 30 80% 55%;
    --sidebar-background: 0 0% 13%;
    --sidebar-foreground: 0 0% 97%;
    --sidebar-primary: 213 61% 57%;
    --sidebar-primary-foreground: 0 0% 97%;
    --sidebar-accent: 0 0% 17%;
    --sidebar-accent-foreground: 0 0% 97%;
    --sidebar-border: 0 0% 17%;
    --sidebar-ring: 0 0% 27%;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
